@model TicketsApp.Web.Models.DTO.TicketDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tickets</h1>

<div class="row">
    <div class="col">
        <form asp-action="Index" asp-controller="Tickets" method="post">
            @if (Model.FilterDate == DateTime.MinValue)
            {
                <input asp-action="Index" asp-for="FilterDate" type="date" value="mm/dd/yyyy"/>
            }
            else 
            {
                <input asp-action="Index" asp-for="FilterDate" type="date"/>
            }
            <input type="submit" value="Filter tickets" class="btn btn-primary"/>
        </form>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Duration</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tickets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="AddTicketToShoppingCart" asp-route-id="@item.Id">Add to cart</a>
            </td>
        </tr>
}
    </tbody>
</table>
